html {
    font-family: Inter, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.user {
    position: absolute;
    top: 1.5rem;
    right: 6rem;
    width: 5rem;
}

.cog {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    width: 3rem;
}

.top-bar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.dropdown {
    background-color: white;
}

.search-bar {
    width: 20rem;
    border-radius: 1rem;
}

table {
    border-spacing: 0;
    margin-top: 3rem;
}

th,
td {
    border: 1px solid gray;
    width: 3.4rem;
    height: 1.2rem;
    font-weight: normal;
    font-size: 0.8rem;

}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    white-space: nowrap;
    width: 10rem;
}

.blue-white {
    background: linear-gradient(to bottom, rgb(78, 135, 155), 50%, white 50%);
}

.pink {
    background-color: rgb(205, 150, 205);
}

.gray {
    background-color: rgb(140, 150, 155);
}

.blue {
    background-color: rgb(78, 135, 155);
}

.white {
    background-color: white;
}

.pink-purple {
    background: linear-gradient(to bottom, rgb(205, 150, 205), 50%, rgb(140, 70, 140) 50%);
}

.pink-white {
    background: linear-gradient(to bottom, rgb(205, 150, 205), 50%, white 50%);
}

.blue-blue {
    background: linear-gradient(to bottom, rgb(78, 135, 155), 50%, rgb(50, 100, 120) 50%);
}

.occupations {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 0.8rem;
    padding-right: 0.5rem;
}